body{
background-image: url(../images/Фон-1.png);
background-size: cover;
font-family: 'Ubuntu', sans-serif;
}

.container{
min-height: 100vh
}

.header-block{
height: 60px;
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
color: white;
display: flex;
justify-content: space-between;
align-items: center;
}

.header-logo{
text-transform: uppercase;
margin-left: 80px;
font-weight: bold;
font-size: 22px;
transition: 0.5s;
}

.header-logo:hover{
color: #01813F;
transition: 0.5s;
}

.header-right{
display: flex;
align-items: center;
}

.header-icon {
margin-right: 24px;
}

.icon {
width: 23px;
height: 23px;
transition: 0.5s;
fill: white;
}

.icon:hover {
color: #01813f;
transition: 0.5s;
}

.welcome-block{
border-left: 1px solid white;
margin-right: 80px;
}

.welcome-text{
margin-left: 25px;
}

.welcome-text a:hover{
color: #01813F;
transition: 0.5s;
}

main{
display: flex;
justify-content: center;
height: 100%-56px;
}

.form-block{
background: white;
top: 50%;
position: absolute;
transform: translateY(-50%);
width: 444px;
height: 584px;
}

.header-form{
display: flex;
justify-content: space-around;
align-items: center;
gap: 100px;
padding-top: 31px;
}

.header-form::before{
display: block;
position: absolute;
border: 1px solid #3CB878;
background: #3CB878;
content: "";
height: 18px;
width: 18px;
left: 0;
top: 31px;
}

.sign-up{
font-weight: normal;
font-size: 20px;
color: #434343;
}

.log-in{
font-weight: normal;
font-size: 14px;
color: #3CB878;
}

.log-in:hover{
color: #01813F;
text-decoration: underline;
transition: 0.5s;
}

.buttons{
display: flex;
justify-content: center;
margin-top: 16px;
gap: 8px;
}

.button {
width: 160px;
height: 46px;
font-size: 16px;
color: white;
border-radius: 3px;
border: none;
}
  
.fb.button,
.google.button {
display: flex;
align-items: center;
padding: 12px 0;
transition: 0.5s;
}
  
.fb.button {
background: #305db8;
}
  
.google.button {
background: #df4a32;
}
  
.fb:hover {
background: #022263;
transition: 0.5s;
}
  
.google:hover {
background: #ab1f09;
transition: 0.5s;
}
  
.fb img, .google img {
padding: 0 15px;
border-right: 1px solid rgba(10, 22, 47, 0.1);
}
  
.fb.button p, .google.button p {
font-family: "Ubuntu", sans-serif;
padding-left: 18px;
}
  

.divider{
position: relative;
width: 72%;
border-bottom: solid 1px #f2f2f2;
margin: 31px 62px 15px;
}

.divider::before {
position: absolute;
content: "or";
color: #848484;
background-color: #fff;
left: 45.5%;
top: -8px;
padding: 0px 7px;
}

.form{
display: flex;
flex-direction: column;
align-items: center;
}

.form-text{
display: flex;
justify-content: space-between;
width: 324px;
height: 44px;
border-radius: 4px;
align-items: center;
text-align: left;
border: 1px solid #F2F2F2;
margin-bottom: 16px;
padding-left: 19px;
color: #BEBEBE;
}

.form-text:focus{
box-shadow: 0px 3px 8px 0px #00000036;
outline: 0;
color: #434343;
}

.check{
display: flex;
align-items: center;  
}

.custom-checkbox{
position: absolute;
z-index: -1;
opacity: 0;
}

.custom-checkbox + label{
display: flex;
align-items: center;
user-select: none;
}

.custom-checkbox + label::before{
content:"";
width: 20px;
height: 20px;
border: 1px solid #f2f2f2;
margin-right: 8px;
background-repeat: no-repeat;
background-position: center;
}

.custom-checkbox:checked + label::before{
background-image: url(../images/Vector-1.svg);
}

.terms-conditions{
margin-left: 8px;
font-size: 14px;
font-weight: 400px;
}

.terms-and-conditions{
color: #3CB878;
}

.terms-and-conditions:hover{
color: #01813F;
text-decoration: underline;
transition: 0.5s;
}

.form label {
margin-left: -65px;
}

.create-account {
font-family: "Ubuntu", sans-serif;
width: 324px;
margin-top: 20px;
background: rgba(60, 184, 120, 0.8);
border-radius: 3px;
border: none;
font-size: 16px;
color: white;
padding: 16px 0;
transition: 0.5s;
}
  
.create-account:hover {
background: #01813f;
transition: 0.5s;
}