@import "../variables/colors";

.footer{
	display: flex;
	text-align: center;
	justify-content: center;
	background-color: black;
	color: white;
}

.touch-title{
    margin-top: 66px;
}

.touch-describe-first{
    margin-top: 22px;
    color: $fourth_text;
    width: 684px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    @media (max-width: 580px){
        width: 400px;
        margin: 8px auto 0;
    }
}
.touch-describe-second{
    color: $fourth_text;
    width: 684px;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    @media (max-width: 580px){
        display: none;
    }
}

.icon-block{
	display: flex;
	align-items: center;
	margin-top: 48px;
	justify-content: center;
	gap: 28px;

    @media (max-width: 767px) {
        padding: 25px 0;
      }

      @media (max-width: 580px){
          margin: 0;
      }
}

.rss-icon{
    border: 2px solid #F8902E;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 12px;
    width: 38px;
    height: 38px;
}

.fb-icon{
    border: 2px solid #39599F;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 12px;
    width: 38px;
    height: 38px;
}

.twitter-icon{
	border: 2px solid #45B0E3;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 12px;
    width: 38px;
    height: 38px;
}

.dribbble-icon{
	border: 2px solid #D97AB0;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 12px;
}

.pint-icon{
	border: 2px solid #CC212C;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 12px;
    width: 38px;
    height: 38px;
}

.footer-down-desc{
	margin-top: 34px;
	margin-bottom: 70px;
	color: $fourth_text;
	font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
    @media (max-width: 580px){
        width: 235px;
        margin: 0 auto 47px;

    }
}