.header__nav{
	padding: 35px 180px 35px;
}

.header-menu {
	display: flex;
	justify-content: space-between;
	&-item{
	  color: $main_text;
	  font-weight: 400;
	}
	  padding: 17px 0;
	  font-size: 11px;
	  line-height: 22px;
	
	@media (max-width: 1200px) {
		padding: 40px 100px 40px;
	}
	@media (max-width: 767px) {
		display: block;
		position: absolute;
		background-color: #f5f5f5;
		width: 180px;
		top: 50px;
		right: 15px;
		padding: 0;
		opacity: 0;
		transition: 0.3s;
		&.active {
		  opacity: 1;
		}
		&-item {
		  padding: 5px 0;
		  padding-left: 15px;
		}
	  }
	}
  
  @media (max-width: 767px) {
	.header__burger {
	  display: block;
	  background-color: #000;
	  position: relative;
	  width: 44px;
	  height: 35px;
	  float: right;
	  margin: 15px;
  
	  & span {
		background-color: white;
		position: absolute;
		width: 50%;
		height: 2px;
		left: 25%;
		top: 50%;
	  }
  
	  &::before {
		content: '';
		background-color: white;
		position: absolute;
		width: 50%;
		height: 2px;
		left: 25%;
		top: 41%;
	  }
	  &::after {
		content: '';
		background-color: white;
		position: absolute;
		width: 50%;
		height: 2px;
		left: 25%;
		top: 62%;
	  }
  
	  &.active {
		&::before {
		  transform: rotate(45deg);
		  top: 17px;
		}
		&::after {
		  transform: rotate(-45deg);
		  top: 17px;
		}
		& span {
		  transform: scale(0);
		}
	  }
	}
  }

  .header-menu__list-item a:hover{
	  color: #57A4A4;

	  @media (max-width: 580px){
		  color: $main_text;
		background-color: #e5e5e5;
	  }
  }


  .main-image{
	  width: 100%;
  }