@import "../variables/colors";

.recent-post{
	margin: 66px 0 24px 0;
	color: $main_text;
}

.content-up{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

	@media (max-width: 767px) {
		flex-direction: column;
		margin-bottom: 0;
	  }
}

.content-down{
	display: flex;
	justify-content: space-between;	

	@media (max-width: 767px) {
		flex-direction: column;
		margin-bottom: 0;
	  }
}

.recent-block{
	display: flex;
	max-width: 555px;
	
	@media (max-width: 767px){
		margin-bottom: 30px;
	}
	@media (max-width: 580px){
		flex-direction: column;
		margin-bottom: 0;
	}
}

.img-recent{
	@media (max-width: 580px){
		max-width: 50%;
	}
}

.recent-text{
	align-items: center;
	margin-left: 10px;

	@media (max-width: 580px){
	margin-left: 0;
	margin-top: 11px;
	margin-bottom: 17px;
	}
}

.recent-title{
	font-weight: bold;
	font-size: 16px;
	color: $main_text;
	margin-top: 3px;
	margin-bottom: 6px;
}

h6{
	font-weight: normal;
	font-size: 12px;
	color: $third_text;
	margin-bottom: 13px;
}

.recent-desc{
	font-weight: normal;
	font-size: 14px;
	color: $secondary_text;
	line-height: 26px;
	width: 404px;

	@media (max-width: 580px) {
		display: none;
	  }
  
}

.insta-wrap{
	background-color: $main_lighter;
	margin-top: 69px;
	@media (max-width: 580px) {
		background-color: #fff;
	  }
}


.instagram-text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 47px;
	padding-bottom: 24px;
	color: $main_text;

	@media (max-width: 580px) {
		padding-top: 38px;
	}
}

.insta-right-text{
	@media (max-width: 580px){
		display: none;
	}
}

.insta-img-wrap{
	padding-bottom: 49px;
	display: flex;
	justify-content: space-between;
	@media (max-width: 580px){
		display: block;
	}
}

.instagram-images{
	@media (max-width: 1200px) {
		&:last-child {
			display: none;
		}
	}
	@media (max-width: 767px) {
		padding: 0 5px 0;
		&:last-child {
			display: none;
		}
@media (max-width: 580px){
	display: none;
	&:first-child{
		display: block;
		padding: 0;
	}
}
	}
}

.inst-img{
	width: 100%;
}