@import "./header";
@import "./main";
@import "./footer";

.container{
    font-family: $fontFamily;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 768px) {

      .container {
        max-width: none;
      }
    }
  }