input {
display: block;
margin-top: 20px;
margin-left: 20px;
height: 40px;
font-size: 20px;
}

.success {
border: 3px solid green;
}
  
.fail{
border: 3px solid red;
}
  
.price {
border: 1px solid black;
border-radius: 30px;
margin-right: 20px;
padding: 6px;
}
  
.remove-button {
border-radius: 50%;
border: 1px solid black;
}