.btn {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    width: 250px;
    position: relative;
    top: 250px;
    left: 380px;
    border: 1px solid transparent;
    transition: all 0.4s ease-in;
  
    &.yellow {
      background-color: #BA85FB;
      color: white;
      position: static;
  
      &:hover {
        background-color: #9039FA;
        color: white;
        border: 1px solid #9039FA;
      }
    }
  
    &.blue {
      background-color: blue;
      color: yellow;
  
      &:hover {
        background-color: white;
        color: yellowgreen;
        border: 1px solid yellowgreen;
      }
    }
  }
  