body{
position: relative;
overflow: hidden;
}

.container{
display: flex;
font-family: 'Bebas Neue', cursive;
background: black;
width: 100%;
max-height: 750px;
margin: 0 auto;
perspective: 90px;
}

.main{
margin: 800px auto -100px;
text-align: justify;
position: relative;
animation: scroll 30s linear forwards infinite;
animation-duration: 30s;
animation-play-state: running;
color: yellow;
font-size: 45px;
width: 500px;
}

@keyframes scroll {
0% {
top: 0;
transform: translateZ(0) rotateX(32deg);
}

100% {
top: -3000px;
transform: translateZ(-1800px) rotateX(30deg);
}
}

.chapter{
text-align: center;
margin-bottom: 20px;
}

.title{
margin-bottom: 20px;
text-align: center;
}

.first-text{
margin-bottom: 20px;
}

.audio{
margin-top: -500px;
}