.main-body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

header {
  background: url(../images/Layer-1.png);
  background-size: cover;
  height: 1012px;
}

.header-wrap {
  display: flex;
  background: rgba(94, 93, 88, 0.6);
  height: 120px;
  justify-content: center;
  align-items: center;
  color: white;
  left: calc(50% - 1920px / 2);
}

.header-left {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 270px;
}

.logo {
  width: 58px;
  height: 67px;
}

.logo-text {
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  padding: 0 13px;
}

.ham {
  color: #18cfab;
  font-weight: 700;
}

.header-title {
  padding-left: 6px;
  font-size: 32px;
  align-items: flex-end;
  text-align: center;
  font-weight: 400;
}

.header-menu {
  width: 722px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.list-items {
  padding: 28px 0 28px 0;
}

.list-items:hover {
  color: #18cfab;
}

.icon-wrap {
  width: 68px;
  height: 70px;
  padding-left: 21px;
}

.icon {
  padding: 26px 0;
}

.section-featured {
  text-align: center;
  margin-top: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.featured-title h3 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}

.featured-title h3 span {
  color: #18cfab;
}

.featured-title h2 {
  font-weight: bold;
  font-size: 78px;
  margin-bottom: 20px;
}

.featured-title p {
  font-size: 34px;
  color: #d4d4d4;
  text-transform: none;
}

.featured-button {
  display: flex;
  gap: 26px;
  padding-top: 134px;
}

.button-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 15px;
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  border: none;
  border-radius: 4px;
  opacity: 100;
  border-top: 5px solid white;
}

.button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 15px;
  width: 169px;
  height: 63px;
  background-color: #00cbf6;
  border: none;
  border-radius: 4px;
  opacity: 100;
  border-top: 5px solid white;
}

.option-block {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.option-block div {
  display: flex;
  justify-content: center;
  height: 377px;
}

.option-1 {
  background-color: #1c2a33;
}

.option-2 {
  background-color: #18cfab;
}

.option-icon1 {
  padding: 95px 210px 0 210px;
}

.option-icon2 {
  padding: 106px 192px 0 192px;
}

.option-icon3 {
  padding: 95px 210px 0 210px;
}

.option-icon4 {
  padding: 105px 192px 0 192px;
}

.option-text1 {
  padding-top: 47px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: #18cfab;
}

.option-text2 {
  padding-top: 57px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  color: white;
}

.our-services {
  margin: 85px auto 91px;
  display: flex;
  flex-direction: column;
  width: 1160px;
}

.our-services h3 {
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.main-divider {
  margin: 0 auto 69px;
}

.divider {
  background-color: #18cfab;
  width: 79px;
  height: 2px;
}

.divider:last-child {
  align-self: flex-end;
  position: relative;
  left: 13px;
}

.divider + .divider {
  margin-top: 4px;
}

.tab-menu {
  display: flex;
  margin-bottom: 25px;
}

.tab-menu button {
  background: #f8fcfe;
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 72px;
  border: 1px solid #edefef;
  font-weight: normal;
  font-size: 16px;
  color: #717171;
  font-family: "Montserrat", sans-serif;
}

.tab-menu button:hover {
  border: 1.5px solid #18cfab;
}

.tab-menu .active {
  background-color: #18cfab;
  color: #fff;
  border: 1.5px solid #18cfab;
}

.disc {
  width: 1160px;
  margin: 28px auto 0;
  display: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.disc.active {
  display: flex;
}

.disc img {
  width: 192px;
  height: 139px;
}

.services-proffesion {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-left: 15px;
}

.purchase-block {
  background: url(../images/Layer-21.png);
  background-size: cover;
  height: 476px;
}

.purchase {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.purchase-title {
  margin: 126px 0 12px 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.purchase-desc {
  margin-bottom: 62px;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

.purchase-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 26px;
}

.button-purchase {
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  border: none;
  border-radius: 4px;
  padding: 14px 0;
  opacity: 100;
  border-top: 5px solid white;
}


.work {
  background: #e9edef;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 100px;
}

.work h3 {
  color: #4e4e4e;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
}

.work::before {
  top: 150px;
  margin-left: -39px;
}

.work::before,
.work::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #18cfab;
  left: 50%;
  width: 79px;
}

.work::after {
  top: 155px;
  margin-left: -30px;
}

.work-nav {
  margin-top: 70px;
}

.work-menu-wrap {
  width: 560px;
  display: flex;
  margin-bottom: 25px;
}

.work-menu-wrap button {
  justify-content: center;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: 60px;
  border: 1px solid #dadada;
  font-size: 14px;
  font-weight: normal;
  color: #717171;
  font-family: "Montserrat";
}

.work-menu-wrap button:hover,
button.active {
  border: 1px solid #18cfab;
  color: #18cfab;
}

.work-content {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 285px));
}

.work .item {
  display: none;
  position: relative;
  height: 206px;
}

.work .item.active {
  display: block;
}

.hover-menu {
  position: absolute;
  width: 285px;
  height: 206px;
  background: #e9edef;
  border-top: 2px solid #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.hover-buttons {
  display: flex;
  margin-top: 40px;
}

.hover-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #18cfab;
}

.small-button1 img {
  margin-top: 3px;
}

.small-button2 {
  margin-left: 3px;
  background: #18cfab;
  transition: 0.5s;
}

.small-button2 .cube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background: white;
  margin: 0 auto;
}

.small-button2:hover {
  background: #18cfab;
  transition: 0.5s;
}

.hover-title {
  font-weight: bold;
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
  margin-top: 40px;
}

.hover-text {
  font-size: 12px;
  color: #8a8a8a;
  margin-top: 15px;
}

.work .item:hover .hover-menu {
  opacity: 1;
  transition: 0.5s;
}

.button-load-wrap {
  display: flex;
  justify-content: center;
}

.button-load {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  border: none;
  border-radius: 4px;
  opacity: 100;
  margin-top: 70px;
  font-family: "Montserrat", sans-serif;
}

.breaking-news {
  margin: 83px auto 93px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.breaking-news h3 {
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.main-divider-news {
  margin: 0 auto 69px;
}

.news-divider {
  background-color: #18cfab;
  width: 79px;
  height: 2px;
}

.news-divider:last-child {
  align-self: flex-end;
  position: relative;
  left: 13px;
}

.news-divider + .news-divider {
  margin-top: 4px;
}

.news-content {
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.breaking-news .news-item {
  margin-bottom: 30px;
}

.breaking-news .news-title {
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}

.breaking-news .news-date {
  position: absolute;
  margin-left: 193px;
  width: 70px;
  height: 70px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #203e38;
}

.breaking-news .news-date p {
  width: 30px;
  text-align: center;
  line-height: 25px;
}

.breaking-news a:hover .news-date {
  background: #18cfab;
}

.breaking-news a:hover .news-title {
  color: #18cfab;
}

.breaking-news .news-under-title {
  max-width: 210px;
  display: flex;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-left: 15px;
}

.breaking-news .news-admin {
  padding-right: 15px;
  border-right: 1px solid #777777;
}

.breaking-news .news-comment {
  padding-left: 15px;
}

.people-wrap {
  margin: 0 auto;
  background-image: url();
  display: flex;
  flex-direction: column;
  background-image: url(../images/Layer\ 333.png);
  background-size: cover;
  height: 853px;
}

.people-title {
  margin-top: 98px;
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.main-divider-people {
  margin: 0 auto;
}

.people-divider {
  background-color: #18cfab;
  width: 79px;
  height: 2px;
}

.people-divider:last-child {
  align-self: flex-end;
  position: relative;
  left: 13px;
}

.people-divider + .people-divider {
  margin-top: 4px;
}

.people-shape img {
  display: flex;
  margin: 66px auto 36px;
}

.disc-people {
  display: none;
  font-weight: 300;
}

.disc-people.active {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 1160px;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.figcaption-people {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin-bottom: 37px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #18cfab;
}

.proffesion {
  margin-top: 15px;
  color: #bbbbbb;
  margin-bottom: 38px;
  font-size: 14px;
}

.disc-people img {
  border: 10px solid rgba(31, 218, 181, 0.3);
  mix-blend-mode: normal;
  border-radius: 50%;
  width: 143px;
  height: 142px;
}
.swiper-images {
  margin: 69px auto 0;
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.swiper-images img {
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgba(31, 218, 181, 0.3);
  mix-blend-mode: normal;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.swiper-images .active {
  margin-top: -13px;
}

.swiper-images button {
  width: 31px;
  height: 31px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  margin-top: 15px;
}

.previous {
  background: url(../images/стрелка2.svg) center;
}

.next {
  background: url(../images/стрелка1.svg) center;
}

.swiper-images button:hover {
  background-color: #18cfab;
  transition: 0.5s;
  border: none;
}

.gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.gallery h3 {
  margin-top: 108px;
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  margin-bottom: 24px;
}

.main-divider-gallery {
  margin: 0 auto 93px;
}

.gallery-divider {
  background-color: #18cfab;
  width: 79px;
  height: 2px;
}

.gallery-divider:last-child {
  align-self: flex-end;
  position: relative;
  left: 13px;
}

.gallery-divider + .gallery-divider {
  margin-top: 4px;
}

.gallery-content {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 52px;
}

.gallery-img1 {
  margin-right: 20px;
}

.gallery-item1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-img2 {
  margin-right: 20px;
}

.gallery-image1 {
  width: 378px;
}

.gallery-image2 {
  margin-bottom: 16px;
}

.button-gallery-wrap {
  display: flex;
  justify-content: center;
}

.button-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  border: none;
  border-radius: 4px;
  opacity: 100;
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
}

.footer {
  height: 121px;
  background: #22353f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 14px;
  color: #aeaeae;
}

.footer-span {
  color: #18cfab;
}
