.header {
    width: 1240px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    background-image: linear-gradient(to left top, #9039FA, #BA85FB);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    &__items {
      width: 170px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .item {
    &__cart {
      display: flex;
      align-items: center;

      & p {
        margin-left: 10px;
        margin-top: 20px;
      }
    }
  
    &__favorite {
      display: flex;
      align-items: center;

      & p {
        margin-left: 10px;
        margin-top: 20px;
      }
    }
  }
  