html{
box-sizing: border-box; 
}

body {
background-image: url(../images/background\ 1.png);
background-size: cover;
}

.container{
width: 1030px;
margin: 0 auto;
font-family: 'Roboto', sans-serif;
}

.header-block{
height: 60px;
margin-top: 50px;
display: flex;
justify-content: space-between;
color: white;
}

.header-left{
display: flex;
align-items: center;
font-weight: bold;
}

.header-left:hover{
color: #F26522;
}

.header-left:hover .logo-image{
background-image: url(../images/logo\ 2.svg);
}

.logo-image{
background-image: url(../images/logo\ 3.svg);
width: 53px;
height: 47px;
}

.header-title{
margin-left: 5px;
margin-top: 5px;
display: flex;
flex-direction: column;
}

.title1{
font-size: 29px;
}

.title2{
font-size: 18px;
}

.header-right{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}

.contact-email{
}

.contact-email:hover{
color: #F26522;
}

.contact-tel{
}

.contact-tel:hover{
color: #F26522;  
}

.card-wrap{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 20px;
}

.card-block{
}

.image-item{
width: 300px;
height: 220px;
}

.card-title{
color: white;
padding-top: 20px;
margin-bottom: 37px;
font-size: 18px;
line-height: 18px;
font-weight: 400;
}

.card-title:hover{
color: #F26522;     
}

.hidden-hover1{
position: absolute;
width: 300px;
height: 55px;
background: #f26522;
top: 300px;
opacity: 0;
}

.hidden-hover1:hover{
transition: 1s;
opacity: 1;
}

.hidden-hover1 p {
position: absolute;
}

.from {
font-size: 10px;
left: 20px;
top: 10px;
}
  
.price {
font-size: 20px;
left: 20px;
top: 25px;
}
  
.details {
font-size: 14px;
left: 185px;
top: 30px;
}

.details::after {
content: "›";
padding-left: 16px;
}

.hidden-hover2{
position: absolute;
width: 300px;
height: 55px;
background: #f26522;
top: 600px;
opacity:0
}

.hidden-hover2 p {
position: absolute;
}

.hidden-hover2:hover{
transition: 1s;
opacity: 1;
}

.card-item1, .card-item2, .card-item3{
text-align: center;
color: white;
}

.card-item4, .card-item5, .card-item6{
text-align: center;
color: white;
}

.footer-content{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin-top: 48px;
margin-bottom: 16px;
}

.copyright{
color: white;
font-size: 12px;
font-weight: 400;
}