.container{
max-width: 1900px;
min-width: 1200px;
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
}

.header-wrap{
display: flex;
background-color: #313131;
height: 70px;
justify-content: space-between;
color: white;
}

.header-left{
display: flex;
text-align: center;
align-items: center;
padding-left: 27px;
gap: 27px;
font-size: 22px;
display: flex;
width: 124px;
align-items: center;
text-align: center;
font-weight: 700;
}

.logo{
width: 27px;
height: 27px;
align-items: center;
text-align: center;
}

.header-right{
align-items: center;
}

.header-menu{
width: 722px;
}

.menu-list{
display: flex;
justify-content: space-between;
align-items: center;
}

.list-items{
padding: 28px 0 28px 0;
font-weight: 600;
font-size: 15px;
}

.list-items:hover{
color: #14B9D5;
  }

.icon-wrap{
width: 68px;
height: 70px;
margin: 0 2px 0 0;
background-color: #000000;
}

.icon{
padding: 27px 25px 26px 26px;
width: 17px;
height: 17px;
}

.section-featured {
display: flex;
flex-direction: column;
position: relative;
justify-content: center;
align-items: center;
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/header-bg.jpg");
background-position: center;
background-size: cover;
height: 369px;
}
   
.section-featured .featured-container {
position: relative;
z-index: 2;
text-align: center;
margin-top: 163px;
}
   
.section-featured .featured-title {
color: white;
font-weight: 700;
font-size: 27px;
line-height: 37px;
margin-bottom: 44px;
}

.featured-button{
display: flex;
margin-bottom: 74px;
}

.button-left{
display: flex;
justify-content: center;
color: white;
font-weight: 600;
font-size: 18px;
line-height: 25px;
width: 170px;
height: 55px;
background-color: #89CA62;
border: none;
border-radius: 4px;
padding: 16px 0 16px 0;
margin-right: 20px;
opacity: 100;
}

.button-right{
display: flex;
justify-content: center;
color: white;
font-weight: 600;
font-size: 18px;
line-height: 25px;
width: 170px;
height: 55px;
background-color: #14B9D5;
border: none;
border-radius: 4px;
padding: 16px 0 16px 0;
opacity: 100;
}

.most-popular-posts {
display: flex;
margin: 0 auto;
background: #f2f2f2;
align-items: center;
flex-direction: column;
}
  
.title_posts {
font-size: 27px;
line-height: 37px;
color: #18b4cf;
text-align: center;
text-transform: uppercase;
padding-top: 49px;
padding-bottom: 52px;
font-weight: 700;
}
  
.most-popular-post {
display: flex;
justify-content: space-between;
text-align: center;
}
  
.images-wrapper1 {
display: flex;
flex-wrap: wrap;
width: 400px;
}

.image-item1{
width: 370px;
height: 320px;
}

.image-item4{
width: 370px;
height: 321px;
margin-top: 31px;
margin-bottom: 224px;
}
  
.image-item-desc {
background: #ffffff;
text-align: center;
padding-top: 20px;
padding-bottom: 22px;
font-weight: 700;
}

.images-wrapper2 {
display: flex;
flex-wrap: wrap;
width: 400px;
}
.image-item2{
width: 370px;
height: 441px;
}

.image-item5{
width: 370px;
height: 309px;
margin-top: 32px;
margin-bottom: 114px;
}

.images-wrapper3 {
display: flex;
flex-wrap: wrap;
width: 400px;
}

.image-item3{
width: 370px;
height: 355px;
}

.image-item6{
width: 370px;
height: 441px;
margin-top: 28px;
margin-bottom: 72px;
}

.section-featured-clients{
display: grid;
position: relative;
align-items: center;
background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/parallax-bg.jpg");
background-position: center;
background-size: cover;
height: 588px;
}

.popular-clients{
display: grid;
position: relative;
z-index: 2;
text-align: center;
margin-top: 108px;
margin-bottom: 191px;
}

.featured-image-text-clients{
color: white;
font-weight: bold;
font-size: 32px;
line-height: 44px;
}

.divider{
border: none;
background: #18B4CF;
width: 62px;
height: 4px;
margin-top: 87px;
margin-bottom: 106px;
}

.clients-images{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 2vw;
padding: 0 510px;
align-items: center;
}

.item-logo1{
height: 28px;
}

.item-logo2{
height: 49px;
}

.item-logo3{
height: 51px;
}

.item-logo4{
height: 52px;
}

.title-top-rated{
font-size: 27px;
line-height: 37px;
color: #18b4cf;
text-align: center;
padding-top: 48px;
padding-bottom: 51px;
font-weight: 700;
}

.top-rated-images{
display: grid;
grid-template-columns: repeat(7, 14.28%);
align-items: center;
height: 190px;
width: 100%;
}

.hot-news-title {
text-align: center;
margin-top: 52px;
margin-bottom: 52px;
color: #18B4CF;
font-weight: 700;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
}

.hot-news-items {
width: 100%;
max-width: 1200px;
display: grid;
margin: 0 auto;
}

.hot-news-item {
height: 260px;
background-color:#F9F7F7;
}

.hot-news-item1 {
display: flex;
width: 885px;
grid-column: 1 / 5;
margin-bottom: 40px;
}

.hot-news-item2 {
width: 280px;
grid-column: 5 / 7;
justify-self: end;
}

.hot-news-item3 {
width: 555px;
height: 420px;
grid-row-start: 2;
grid-column: 1 / 4;
margin-bottom: 40px;
}

.hot-news-item4 {
width: 555px;
height: 420px;
grid-row-start: 2;
grid-column: 4 / 7;
justify-self: end;
}

.hot-news-item5 {
width: 555px;
height: 420px;
grid-row-start: 3;
grid-column: 1 / 4;
margin-bottom: 40px;
}

.hot-news-item6 {
width: 555px;
height: 420px;
grid-row-start: 3;
grid-column: 4 / 7;
justify-self: end;
}

.hot-news-item7 {
width: 280px;
grid-row-start: 4;
grid-column: 1 / 3;
margin-bottom: 40px;
}

.hot-news-item8 {
display: flex;
width: 885px;
grid-row-start: 4;
grid-column: 3 / 7;
justify-self: end;
}

.hot-news-link1, .hot-news-link8 {
display: flex;
}

.hot-news-post {
text-align: right;
}

.hot-news-post2, .hot-news-post7 {
text-align: center;
}

.hot-news-text-title {
margin: 10px 20px 10px 20px;
font-weight: 700;
font-size: 18px;
line-height: 25px;
color:#353A3D;
}

.hot-news-paragraph {
margin: 0px 20px 20px 20px;
font-size: 14px;
line-height: 21px;
font-weight: 600;
color:#5B6469;
}

.hot-news-text-title1, .hot-news-text-title8 {
margin-top: 40px;
}

.footer-wrapper {
margin-top: 77px;
background-color: #000000;
height: 80px;
align-items: center;
}

.footer-content {
display: grid;
padding: 35px 386px 20px 367px;
grid-template-columns: 1fr auto;
}

.footer-copyright{
color: white;
font-size: 13px;
line-height: 13px;
font-style: normal;
font-weight: 400;
}