.products {
  width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  
  .item {
    width: 350px;
    text-align: center;
    
    &__info h2 {
      height: 60px;
    }
    &__buttons {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }
  