.modalId1 {
    font-family: 'Verdana', sans-serif;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: red;
    color: white;
    text-align: center;
    width: 600px;
    z-index: 10;
    position: fixed;
    top: 150px;
    left: 330px;
}

.modalId2 {
    font-family: 'Verdana', sans-serif;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: red;
    color: white;
    text-align: center;
    width: 600px;
    z-index: 10;
    position: fixed;
    top: 150px;
    left: 330px;
  }

  .modal {
    &__header {
      border-radius: 6px 6px 0 0;
      padding: 20px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #B3382C;
  
      &__btn {
        font-size: 40px;
        font-weight: 200;
        border: none;
        background-color: #B3382C;
        font-family: 'Verdana', sans-serif;
        color: white;
        cursor: pointer;
        transition: all 0.4s ease-in;
  
      }
    }
  
    &__content {
      padding: 20px;
  
      &__text {
        padding: 20px 0;
        line-height: 24px;
      }
  
      &__btn {
        margin: 20px;
        width: 150px;
        height: 40px;
        background-color: #B3382C;
        color: white;
        border: 1px solid #B3382C;;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.2s ease-in;
  
        &:hover {
          background-color: white;
          color: black;
          border: 1px solid white;
        }
      }
    }
  }
  
  .backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  