$main_color: white;
$main_darker: black;
$main_lighter: #E9EDEF;

$main_text: #4E4E4E;
$secondary_text: #5C5C5C;
$third_text: #7C7C7C;
$fourth_text: #B9B9B9;
$outline: #CFD8DC;
$form: #ECEFF1;

$color_link: #4E4E4E;

$color_red: #F44336;
$color_blue: #03A9F4;
$color_green: #01A54E;
$color_white: #fff;
