.container{
font-family:'Roboto', sans-serif;
width: 1280px;
margin: 0 auto;
}

.header-logo{
display: flex;
font-weight: bold;
color:black;
font-size: 80px;
line-height: 94px;
margin: 63px 0 38px 0;
}
.colored{
color: #4FCFFA;
}

.header-menu{
   
}
.menu-list{
background-color: #35444F;
display: flex;
justify-content: center;
} 

.list-items1{
padding: 23px 35px 20px 35px;
font-size: 24px;
line-height: 28px;
color: #ffffff;
background-color: #35444F;
border-right: 1px solid #ffffff;
border-left: 1px solid #ffffff;

}
.list-items1:hover{
background-color: #222F3A;
}

.main {
display: flex;
justify-content: space-between;
margin-top: 50px;
}

.aside-menu{
width: 344px;
height: 400px;
border: 1px solid #000000;
}

.list-items2 {
height: 79px;
padding-left: 44px;
padding-top: 25px;
font-weight: 400;
font-size: 27px;
line-height: 27px;
color:#495863;
}

.list-items2:hover{
background-color: #DBDBDB;
padding: 27px 78px 27px 38px;
color: black;
}

.content{
width: 885px;
}
.image-item{
border: 1px solid black;

}
img{
padding: 75px 275px;
}

img:hover {
transition: 1s;
transform: scale(1.1);
}
.content-wrapper1{
display: flex;
width: 885px;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
padding-top: 35px;
padding-bottom: 34px;
}
.content-wrapper2{
display: flex;
width: 885px;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
   
}
.footer-menu{
background-color: #63696E7A;
margin-top: 55px;
display: flex;
height: 70px;
margin-bottom: 30px;
}   
.footer-list{
padding-left: 40px;
width: 875px;
display: flex;
justify-content: space-between;
text-align: center;
font-size: 28px;
line-height: 28px;
box-sizing: content-box;
}
.list-items3{
padding-top: 23px;
color: #0C1927;
font-weight: 400;
}

.list-items3:hover{
color:#3181A6;
text-decoration: underline;
}

.copyright {
padding: 23px 0 0 135px;
font-size: 24px;
line-height: 24px;
font-weight: 400;
}